/*
 * @Descripttion: 全局css文件
 * @version:
 * @Author: Caoshuangna
 * @Date: 2019-09-18 14:06:18
 * @LastEditors: Caoshuangna
 * @LastEditTime: 2020-06-22 16:13:49
 */

@media screen and (min-width: 1200px) {
}
@media screen and(min-width: 960px) and (max-width: 1199px) {
}
@media screen and(min-width: 768px) and (max-width: 959px) {
}
@media screen and(min-width: 480px) and (max-width: 767px) {
}
@media screen and (max-width: 479px) {
}

* {
  margin: 0;
  padding: 0;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
html {
  height: 100vh;
}
li {
  list-style: none;
}

.dis-flex {
  display: flex;
  justify-content: space-evenly;
}
.dis-flex-column {
  flex-direction: column;
}

.charts-title {
  font-size: 18px;
  color: #b3d8f7;
  text-align: center;
}

/* 百度地图logo */
.anchorBL {
  display: none;
}


/*包含以下四种的链接*/
a {
  text-decoration: none;
}
/*正常的未被访问过的链接*/
a:link {
  text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
  text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
  text-decoration: none;
}
/* 正在点击的链接*/
a:active {
  text-decoration: none;
}

.front-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
